ADMIN_USER=change-me
ADMIN_PASSWORD=change-me
JWT_SECRET=generate-a-long-random-string-here
TMDB_API=tmdb-read-access-token-here
NAS_HOST=set-your-network-attached-storage-hostname-or-ip-here-if-needed
NAS_SHARE=set-your-network-attached-storage-share-name-here-if-needed
NAS_USER=set-your-network-attached-storage-username-here-if-needed
NAS_PASSWORD=set-your-network-attached-storage-password-here-if-needed
RADARR_PORT=set-your-radarr-port-here-if-needed
RADARR_API_KEY=set-your-radarr-api-key-here-if-needed