@if (mediaItem(); as item) {
  <div class="card" [routerLink]="['/media', item?.id]">
    <div class="card__poster">
        @if (posterUrl(); as poster) {
          <img class="card__poster-img" [src]="poster" [alt]="displayTitle()" loading="lazy"
            (error)="onPosterError()" />
        } @else {
          <span class="card__poster-title">{{ displayTitle() }}</span>
        }
        <div class="card__overlay">
        <span class="card__play" aria-hidden="true">▶</span>
        </div>
    </div>
    <div class="card__meta">
        <span class="card__name">{{ displayTitle() }}</span>
    </div>
  </div>
}
