<div class="browse">
  <app-header (refreshRequested)="loadPage()"/>

  @if (loading()) {
    <app-loading-overlay></app-loading-overlay>
  } @else {
    @if (continueWatching().length > 0) {
      <app-media-section
        layout="row"
        aspect="still"
        title=" {{ 'MEDIA_SECTION.TITLES.CONTINUE_WATCHING' | transloco }} "
        [mediaBaseResponses]="continueWatching()"
        [routeLink]="'/media'">
      </app-media-section>
    }
    <app-media-section
      layout="row"
      title=" {{ 'MEDIA_SECTION.TITLES.SUGGESTED_MOVIES' | transloco }} "
      [mediaBaseResponses]="suggestedMovies()"
      emptyMessage="{{ 'MEDIA_SECTION.EMPTY_TEXTS.NO_SUGGESTIONS' | transloco }}">
    </app-media-section>
    <app-media-section
      layout="row"
      title=" {{ 'MEDIA_SECTION.TITLES.SUGGESTED_SHOWS' | transloco }} "
      [mediaBaseResponses]="suggestedSeries()"
      emptyMessage="{{ 'MEDIA_SECTION.EMPTY_TEXTS.NO_SUGGESTIONS' | transloco }}">
    </app-media-section>
    @if (unknownMedia().length > 0) {
      <app-media-section
        layout="grid"
        title=" {{ 'MEDIA_SECTION.TITLES.UNKNOWN_MEDIA' | transloco }} "
        [mediaBaseResponses]="unknownMedia()"
        [routeLink]="'/unknown'">
      </app-media-section>
    }
  }
</div>
